html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 3% 5% -1em;
}

.title {
  align-content: center;
  padding: 10px 20px;
}

.form {
  padding: 10px 20px;
}

.form__input,
.form__button,
.edit__button,
.delete__button {
  padding: 10px;
  margin: 5px;
}

.form__button {
  background-color: navy;
  color: white;
}

.item__ {
  display: block;
}

.item__checkbox {
  display: inline-block;
}

.item__description {
  display: inline-block;
  padding: 1em;
}

.edit__button {
  background-color: #555555;
  color: white;
}
.delete__button {
  background-color: #f44336;
  color: white;
}
